# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Testing / Coverage
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Alembic Cache
# ==========================

*.db


# ==========================
# Google Credentials
# ==========================

backend/app/credentials/