# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================

.env
.env.*

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Testing / Coverage
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Database
# ==========================

*.db
*.sqlite3

# ==========================
# Google Credentials
# ==========================

backend/app/credentials/
backend/app/credentials/*.json

# ==========================
# Streamlit Secrets
# ==========================

.streamlit/secrets.toml